{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
    <div class="container">

        <h1>Ajouter un produit</h1>

        {{ form_start(form) }}

        <div class="row justify-content-center">
            <div class="col-sm-6">{{ form_row(form.rental_type) }}</div>
        </div>
        <div class="row">
            <div class="col-sm-6">{{ form_row(form.label) }}</div>
            <div class="col-sm-6">{{ form_row(form.description)  }}</div>
        </div>


        {{ form_rest(form) }}
        {{ form_end(form) }}

    </div>

{% endblock %}
