/* RESET */

a {
    color: white;
}
/******************/

header {
    align-items: flex-end;
    background-image: url("../images/piscine.jpg");
    background-position: top 60% left 0;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    height: 350px;
    justify-content: center;
}

body {
    color: #123
}

    nav {
        background-color: #123;
        color: #fefefe;
    }

    nav a:hover {
        background-color: #fefefe;
        color: #123;
    }

footer {
    height: 300px;
    color: #fefefe;
    background-color: #123;
}

.month {
    display: flex;
    flex-flow: row wrap;
}
.day {
    flex-basis: 14%;
    border: solid 1px black;
}

.month-title{
    width: 100%;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}