{% extends 'base.html.twig' %}

{% block title %}L'Espadrille Volante{% endblock %}

    {% block header %} {{ include('parts/_header.html.twig') }} {% endblock %}


{% block body %}

    <div class="container">Hello l'accueil !</div>

{% endblock %}

